
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #35303e34;
}
.conteiner {
  display: flex;
}

nav ul {
  display: flex;
}
nav ul li {  
  list-style: none;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #727272;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #6d6d6d;
  color: #fff;
}
