* {
  font-family: Arial;
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #35303e34;
}
.conteiner {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  padding: 0;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #727272;
}

nav a:hover {
  background-color: #6d6d6d;
  color: #fff;
}
