.content {
  position: absolute;
  background-color: #35303e34;
  bottom: 0;
  height: 100px;   
  width: 100vw; 
  display: flex;
  justify-content: center;
}

.int {
  text-align: center;
  color: #727272;
}